.ant-form-item-explain,
.ant-form-item-explain-error {
  font-size: 12px !important;
}

.ant-message {
  top: auto !important;
  bottom: 24px !important;
}

.ant-picker-ranges {
  flex-direction: column !important;
  gap: 4px !important;
  padding: 6px 8px !important;
}

.ant-picker-ranges .ant-picker-ok {
  margin-inline-start: 0 !important;
}
